<% layout('/layouts/boilerplate') -%>

<body>

    <% info.map((data)=>{%>
        <div class="form-back">
            <div class="col-6 offset-3 form">
            <h1>Edit Data</h1>
    <form action="/profile/<%= data.owner %>/edit?_method=PUT" method="post" class="needs-validation" novalidate >
        <div>
        <input type="text" name="name" value="<%=  data.name %>" required class="form-control">
        
    </div>
        <br>
        <div>
        <input type="email" name="email"  value="<%=  data.email %>" required class="form-control">
    
    </div>
    <br>
        <div>
        <input type="number" name="contact"  value="<%=  data.contact %>" required class="form-control">
    
    </div>
    <br>

    <div>
        <input type="number"  value="<%=  data.age %>" name ="age" required class="form-control">
        
    </div>
    <br>

    <div>
        <label for="blood-Group">Choose blood-Group</label>
        <select id="BloodGrp" name="bloodGroup"  required class="form-control">
        <option  value="<%=  data.bloodGroup %>"><%=  data.bloodGroup %></option>
        <option value="O-positive">O-positive</option>
        <option value="O-negative">O-negative</option>
        <option value="A-positive">A-positive</option>
        <option value="A-negative">A-negative</option>
        <option value="B-positive">B-positive</option>
        <option value="B-negative">B-negative</option>
        <option value="AB-positive">AB-positive</option>
        <option value="AB-negative">AB-negative</option>
        </select>
      
    </div>
    <br>

    <div>
        <textarea name="address"  cols="100" rows="2"  value=" <%= data.address %>" required class="form-control"><%= data.address %></textarea>
   
   </div>
   <br>

   <div>
        <input type="text" name="city"  value="<%=  data.city %>" required class="form-control">
     
    </div>
    <br>

        <input type="date" name="date"  value="<%= data.lastDate %>" class="form-control">
        <br>

        <button class="btn search-btn">Submit</button>
    </form>
</div>
</div>
    <% })%>
</body>